        <!-- ================== Footer  ================== -->

        <footer>
            <div class="container">
    
                <!--footer links-->
                <div class="footer-links">
                    <div class="row">
                        <div class="col-sm-6 footer-left">
                            <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a> | &nbsp; <a href="#">Guest book</a>
                        </div>
                        <div class="col-sm-6 footer-right">
                            <a href="#">Gallery</a> &nbsp; | &nbsp; <a href="#">Reservations</a> | &nbsp; <a href="#">Help center</a>
                        </div>
                    </div>
                </div>
    
                <!--footer social-->
    
                <div class="footer-social">
                    <div class="row">
                        <div class="col-sm-12 text-center hidden">
                            <a href="" class="footer-logo"><img src="../../../static/assets/images/logo.png" alt="Alternate Text" /></a>
                        </div>
                        <div class="col-sm-12 icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 copyright">
                            <small>Copyright &copy; 2017 &nbsp; | &nbsp; <a href="https://themeforest.net/item/colina-hotel-website-template/20977257">Buy Colina Template</a></small>
                        </div>
                        <div class="col-sm-12 text-center">
                            <img src="../../../static/assets/images/logo-footer.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
    <!--JS files-->
    <script src="../../../static/js/jquery.min.js"></script>
    <script src="../../../static/js/jquery-ui.js"></script>
    <script src="../../../static/js/jquery.bootstrap.js"></script>
    <script src="../../../static/js/jquery.magnific-popup.js"></script>
    <script src="../../../static/js/jquery.owl.carousel.js"></script>
    <script src="../../../static/js/main.js"></script>