<header>

    <!-- ======================== Navigation ======================== -->

    <div class="container">

        <!-- === navigation-top === -->

        <nav class="navigation-top clearfix">

            <!-- navigation-top-left -->

            <div class="navigation-top-left">
                <a class="box" href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="box" href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="box" href="#">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>

            <!-- navigation-top-right -->

            <div class="navigation-top-right">
                <a class="box" href="#">
                    <i class="icon icon-star"></i> 
                    Special offers
                </a>
                <a class="box" href="reservation-1">
                    <i class="icon icon-tag"></i> 
                    Reservations
                </a>
                <a class="box" href="#">
                    <i class="icon icon-phone-handset"></i> 
                    (01) 252-3333
                </a>
            </div>
        </nav>

        <!-- === navigation-main === -->

        <nav class="navigation-main clearfix">

            <!-- logo -->

            <div class="logo animated fadeIn">
                <a href="index">
                    <img class="logo-desktop" src="../../../static/assets/logo.png" alt="Alternate Text" />
                    <img class="logo-mobile" src="../../../static/assets/logo-mobile.png" alt="Alternate Text" />
                </a>
            </div>

            <!-- toggle-menu -->

            <div class="toggle-menu"><i class="icon icon-menu"></i></div>

            <!-- navigation-block -->

            <div class="navigation-block clearfix">

                <!-- navigation-left -->

                <!-- navigation-right -->

                <ul class="navigation-right">
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="rooms-overview">Rooms</a>
                    </li>
                    <li>
                        <a href="facility">Facilities</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                </ul>

            </div> <!--/navigation-block-->

        </nav>
    </div> <!--/container-->

</header>